<main id='index'>
  <div class="posts-list">
    <% page.posts.forEach(post => {%>
    <section>
      <a href="<%- url_for(post.path) %>">
        <h3 class='post-head'>
          <%- post.title ? post.title : __('untitled')%>
        </h3>
      </a>
      <% if (post.img) {%>
      <div class="post-img">
        <img src="<%= post.img %>"
          alt="">
      </div>
      <%}%>
      <div class="post-content">
        <% if (post.description) {%>
        <%- post.description %>
        <% } else if (post.excerpt) {%>
        <%- post.excerpt %>
        <% } else if (post.content) {%>
        <% var br = post.content.indexOf('\n') %>
        <% if(br < 0) {%>
        <%- post.content %>
        <% } else {%>
        <%- post.content.substring(0, br) %>
        <% } %>
        <% } %>
      </div>
      <div class='post-meta'>
        <i class="fa fa-calendar"
          aria-hidden="true"></i> <time>
          <%-date(post.date, __('date_format'))%></time>
        <% if(post.categories.length) { %>
        | <i class="fa fa-folder-open-o"
          aria-hidden="true"></i>
        <%- partial('_partial/categories', { post: post }) %>
        <% } %>
        <% if(post.tags && post.tags.length) { %>
        <span class="separator">|</span>
        <% if (post.tags.length > 1) { %>
        <i class="fa fa-tags"
          aria-hidden="true"></i>
        <% } else {%>
        <i class="fa fa-tag"
          aria-hidden="true"></i>
        <% } %>
        <%- partial('_partial/tag', { tags: post.tags }) %>
        <% } %>
      </div>
    </section>
    <%})%>
  </div>
  <aside>
    <% if(theme.search) { %>
    <div class="search">
      <div class="content">
        <form action="//www.baidu.com/"
          target="_blank"
          class="search-form">
          <input type="text"
            name="q"
            maxlength="20"
            placeholder=<%=__('search')%>>
          <input type="hidden"
            name='sitesearch'
            value="<%- theme.url %>">
        </form>
      </div>
    </div>
    <% } %>
    <% if(theme.avatar) { %>
    <div class="avatar">
      <img src="<%- theme.avatar %>"
        alt="avatar">
      <% if(theme['aside-description']) { %>
      <div class="content">
        <span>
          <%- theme['aside-description'] %></span>
      </div>
      <% } %>
    </div>
    <% } %>
    <% if(site.categories.length) { %>
    <div class="categories">
      <h1>
        <%= __('categories') %>
        <!-- 分类 -->
      </h1>
      <div class="content">
        <%- list_categories({
            show_count: false
          }) %>
      </div>
    </div>
    <% } %>
    <% if(theme.links) { %>
    <div class="links">
      <h1>
        <%= __('blogroll') %>
        <!-- 友情链接 -->
      </h1>
      <div class="content">
        <% for(let i in theme.links) { %>
        <a href="<%- theme.links[i] %>"
          target="_blank">
          <%- i %></a>
        <% } %>
      </div>
    </div>
    <% } %>
  </aside>
</main>
<% if (page.total > 1){ %>
<%- partial('_partial/paging') %>
<% } %>
